.trackInfoDiv {
  width: 33vw;
  display: flex;
}

.albumArt {
  margin: 1px 0;
  margin-left: 0.5vw;
  height: 65px;
}

.songInfo {
  display: flex;
  flex: 0 1 33vw;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  a {
    text-decoration: none;
  }
  span {
    vertical-align: baseline;
    font-size: 13px;
    color: #fff;
    white-space: nowrap;
  }
}

.title {
  margin: 0 13px;
  margin-top: 5px;
  margin-bottom: 8px;
  font: 550 1.077em/1.25 SourceSans, sans-serif;
  letter-spacing: 1px;
  span {
    margin: 0 2px;
  }
}

.version {
  font: 100 1.077em/1.25 SourceSans, sans-serif;
  letter-spacing: 1px;
}

.artist {
  margin: 0 15px;
  font: 550 1.077em/1.25 SourceSans, sans-serif;
  letter-spacing: 1px;
}
