.keyboardShortcutContainer {
  width: 4vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2px;
  padding-left: 3px;
  box-sizing: content-box;
  svg {
    fill: #fff;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 900px) {
  .keyboardShortcutContainer {
    visibility: hidden;
    width: 0;
  }
}
