.artworkContainer {
  position: static;
}

.largeArtwork {
  height: 250px;
  position: fixed;
  bottom: 67px;
  left: 0;
  background-color: #191919;
  img {
    height: 250px;
    width: 250px;
    margin: 1px 0;
  }
}
