.mediaShare {
  position: absolute;
  right: calc(100vw - 250px);
  bottom: 68px;
  width: 135px;
  height: 50px;
  background: linear-gradient(135deg, transparent 50px, #000 0);
  svg {
    fill: #8c8c8c;
  }
}

.facebook {
  position: relative;
  top: 17px;
  left: 69.7px;
}

.twitter {
  position: relative;
  top: 18.7px;
  left: 81.7px;
}
