.queueContainerNoArtwork {
  height: 250px;
  width: 100vw;
  overflow: auto;
  padding-top: 1px;
  color: #fff;
  background-color: #191919;
  border-bottom: 1px solid #000;
  position: fixed;
  bottom: 67px;
  cursor: pointer;
  ul {
    margin: 0;
    padding-left: 0.5vw;
  }
}

.queueContainerWithArtwork {
  @extend .queueContainerNoArtwork;
  width: calc(100vw - 250px);
  right: 0;
}

.showArt {
  @extend .queueContainerWithArtwork;
  animation: showArt 200ms forwards;
}

.hideArt {
  @extend .queueContainerWithArtwork;
  animation: hideArt 200ms forwards;
}

@keyframes hideArt {
  from {
    width: calc(100vw - 250px);
  }
  to {
    width: 100vw;
  }
}

@keyframes showArt {
  from {
    width: 100vw;
  }
  to {
    width: calc(100vw - 250px);
  }
}
