.queueExpandContainer {
  width: 3.7vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2px;
  box-sizing: content-box;
  svg {
    fill: #fff;
    vertical-align: middle;
  }
}
