.waveformDiv {
  width: 41.73vw;
  justify-content: center;
  position: relative;
}

.info {
  position: absolute;
  display: block;
  bottom: 9px;
  left: 0;
  padding: 7px 10px 5px 10px;
  margin-bottom: 1px;
  color: hsla(0, 0%, 100%, 0.7);
  background: rgba(0, 0, 0, 0.6);
  font-family: CoreSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 12.7px;
  letter-spacing: 0.73px;
}

.clickZone {
  width: 41.7vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.zoomButton {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 23px;
  width: 7px;
  margin-top: 13px;
  margin-right: 1px;
  padding: 0px 15px 0 7px;
  background: rgba(0, 0, 0, 0.6);
  svg {
    fill: #fff;
    vertical-align: middle;
  }
}
