.waveformDiv {
  width: 42vw;
  justify-content: center;
  position: relative;
}

.info {
  width: 15vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.clickZone {
  width: 40vw;
  position: absolute;
  bottom: 0;
  left: 0;
}
